curso/npm-debug.log
curso/peliculas/app/app.component.js
curso/peliculas/app/app.component.js.map
curso/peliculas/app/main.js
curso/peliculas/app/main.js.map
curso/peliculas/node_modules/
curso/peliculas/typings/

