<div *ngIf="restaurante" class="restaurante-box">

	<img class="imagen-rest-detail" width="200px"
	src="http://localhost:8080/restaurantes/files/{{restaurante.id}}"
		*ngIf="restaurante.imagen && restaurante.imagen !== 'null'"/>

<div class="data-rest">

	<h1>Restaurante: {{restaurante.nombre}}</h1>
	<p class="precio">
		<span [ngSwitch]="restaurante.precio">
			<span *ngSwitchWhen="'bajo'">Entre 30 y 50</span>
			<span *ngSwitchWhen="'normal'">Entre 60 a 80</span>
			<span *ngSwitchWhen="'alto'">Más de 120</span>
		</span>
	</p>

	<p class="direccion">{{restaurante.direccion}}</p>
	<p class="descripcion">{{restaurante.descripcion}}</p>
</div>
</div>
